# --- CONSTRUCCIÓN Y SALIDA ---
# Ignoramos la carpeta build porque el Action la genera de cero
build/
dist/
.flet_bundle/
*.apk
*.aab
*.apks

# --- DEPENDENCIAS Y ENTORNOS ---
# NUNCA ignores requirements.txt, es el mapa de tu app
# .venv e ignorados de Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.python-version
